<div class="page-flex">
    <div *ngIf="isValidFile && !loadingTable" class="section-container">
        <div class="content-text-subtitle file-title">CQuestData - ({{filteredContent.length}} item(s))
        </div>
        <div *ngIf="!inEdition" class="form-btn-flex">
            <button (click)="writeXmlFile('xml')" class="btn btn-primary button-3">SAVE XML</button>
            <button  (click)="writeXmlFile('sbin')"
                class="btn btn-primary button-3">ENCRYPT SBIN+XML</button>
            <button (click)="openEdition()" class="btn button-3 btn-blue">ADD ITEM +</button>
        </div>

        <div class="table-text">
            <div class="search-flex">
                <input class="input-full-width" type="text" placeholder="Search table" [(ngModel)]="searchTableText">
                <button (click)="onSearch()" class="upload-btn button-3">Search</button>
            </div>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
            <table *ngIf="filteredContent" class="fileElt">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>NPC</th>
                        <th>ZoneID</th>
                        <th>XCoordinate</th>
                        <th>YCoordinate</th>
                        <th>Lines</th>
                        <th>Next</th>
                        <th *ngIf="!inEdition">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of filteredContent | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: filteredContent.length }">
                        <td>{{ item[0].value }}</td>
                        <td>{{ item[1].value }} </td>
                        <td>{{ item[2].value }}</td>
                        <td>{{ item[3].value }}</td>
                        <td>{{ item[4].value }}</td>
                        <td>{{ item[5].value }}</td>
                        <td>
                            <div *ngFor="let elt of item[6].value"><span *ngIf="elt != ''">. {{elt}}</span></div>
                        </td>
                        <td>
                            <table>
                                <thead>
                                    <th>QuestID</th>
                                    <th>RestrictionType</th>
                                    <th>RestrictionValue</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of item[7].value">
                                        <td>{{data[0]}}</td>
                                        <td>{{data[1]}}</td>
                                        <td>{{data[2]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <td *ngIf="!inEdition">
                            <div class="last"><a (click)="openEdition(item[0].value)" class="action-link">Edit</a>
                                <a (click)="deleteItem(item)" class="action-link">Delete</a>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
        </div>
    </div>
    <div *ngIf="inEdition" class="page-container edit-page">
        <div class="form-container">
            <div class="form-btn-flex">
                <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
                <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
            </div>
            <div class="form-elt-container">
                <div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[0].value">
                    </div>
                    <div class="form-group form-input form-input-textarea">
                        <label class="form-label">Title:</label>
                        <textarea class="form-control" rows="2" cols="2" [(ngModel)]="editingItem[1].value"></textarea>
                    </div>
                    <div class="form-group form-input form-input-textarea">
                        <label class="form-label">NPC:</label>
                        <textarea class="form-control" rows="2" cols="2" [(ngModel)]="editingItem[2].value"></textarea>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Zone ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[3].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">XCoordinate:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[4].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">YCoordinate:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[5].value">
                    </div>
                    <label class="form-label">Rate Scaling</label>
                    <div class="fileType-box" *ngFor="let a of editingItem[6].value; let i = index">
                        <div class="form-group form-input form-input-line">
                            <label class="form-label">Element {{i+1}}:</label>
                            <textarea class="form-control" rows="6" cols="2"
                                [(ngModel)]="editingItem[6].value[i]"></textarea>
                        </div>
                    </div>
                    <label class="form-label">Next</label>
                    <div class="fileType-box" *ngFor="let a of editingItem[7].value; let k = index">
                        <label class="form-label">Element {{k+1}}:</label>
                        <div class="fileType-box">
                            <div class="form-group form-input form-input-line ">
                                <label class="form-label">Quest ID:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[7].value[k][0]">
                            </div>
                            <div class="form-group form-input form-input-line ">
                                <label class="form-label">Restriction Type:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[7].value[k][1]">
                            </div>
                            <div class="form-group form-input form-input-line ">
                                <label class="form-label">Restriction Value:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[7].value[k][2]">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="formMsg">
                <span class="error-txt">{{formMsg}}</span>
            </div>
        </div>
        <div class="form-btn-flex">
            <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
            <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
        </div>
    </div>
</div>