.data-table {
    display: flex;
    gap: 10px;
    max-width: 100%;
    flex-wrap: wrap;
}

h2 {
    margin: 0 !important;
}

.dt-content {
    border-style: solid;
    border-width: 5px;
    margin: 15px auto;
    padding: 5px;
}

.dt-item {
    border-style: solid;
    border-width: 1px;
    margin: 5px auto;
    padding: 5px;
}