<div class="page-flex">
    <div *ngIf="isValidFile && !loadingTable" class="section-container">
        <div class="content-text-subtitle file-title">PCData - ({{filteredContent.length}} item(s))
        </div>
        <div *ngIf="!inEdition" class="form-btn-flex">
            <button (click)="writeXmlFile('xml')" class="btn btn-primary button-3">SAVE XML</button>
            <button  (click)="writeXmlFile('sbin')"
                class="btn btn-primary button-3">ENCRYPT SBIN+XML</button>
            <button (click)="openEdition()" class="btn button-3 btn-blue">ADD ITEM +</button>
        </div>

        <div class="table-text">
            <div class="search-flex">
                <input class="input-full-width" type="text" placeholder="Search table" [(ngModel)]="searchTableText">
                <button (click)="onSearch()" class="upload-btn button-3">Search</button>
            </div>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
            <table *ngIf="filteredContent" class="fileElt">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Unknown</th>
                        <th>Appearance</th>
                        <th>Equipment</th>
                        <th>Skill Table</th>
                        <th>Battle</th>
                        <th *ngIf="!inEdition">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of filteredContent | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: filteredContent.length }">
                        <td>{{ item[0].value }}</td>
                        <td>{{ item[1].value }} | {{ item[2].value }} | {{ item[3].value }} | {{ item[4].value }} | {{
                            item[5].value }} | {{ item[6].value }} | {{ item[7].value }} </td>
                        <td>{{ item[8].value }} | {{ item[9].value }} | {{ item[10].value }} | {{ item[11].value }} | {{
                            item[12].value }} | {{ item[13].value }} | {{ item[14].value }} | {{ item[14].value }} | {{
                            item[15].value }} | {{ item[16].value }} | {{ item[17].value }} | {{ item[18].value }}</td>
                        <td><span *ngFor="let elt of item[19].value">{{elt}} </span></td>
                        <td><span *ngFor="let elt of item[20].value">{{elt}} </span></td>
                        <td class="data-table">
                            <table>
                                <thead>
                                    <th>Unknown1-5</th>
                                    <th>Unknown6</th>
                                </thead>
                                <tbody>
                                    <td>{{item[21].value}} | {{item[22].value}} | {{item[23].value}} |
                                        {{item[24].value}} | {{item[25].value}}</td>
                                    <td><span *ngFor="let elt of item[26].value">{{elt}} </span></td>
                                </tbody>
                            </table>
                        </td>
                        <td *ngIf="!inEdition">
                            <div class="last"><a (click)="openEdition(item[0].value)" class="action-link">Edit</a>
                                <a (click)="deleteItem(item)" class="action-link">Delete</a>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
        </div>
    </div>
    <div *ngIf="inEdition" class="page-container edit-page">
        <div class="form-container">
            <div class="form-btn-flex">
                <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
                <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
            </div>
            <div class="form-elt-container">
                <div>
                    <h2 class="section-title">Basic</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[0].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown1:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[1].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown2:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[2].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown3:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[3].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown4:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[4].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown5:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[5].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown6:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[6].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown7:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[7].value">
                    </div>
                    <h2 class="section-title">Appearance</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance1:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[8].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance2:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[9].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance3:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[10].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance4:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[11].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance5:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[12].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance6:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[13].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance7:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[14].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance8:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[15].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance9:</label>
                        <select [(ngModel)]="editingItem[16].value">
                            <option value="true">TRUE</option>
                            <option value="false">FALSE</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance10:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[17].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Appearance11:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[18].value">
                    </div>
                </div>
            </div>
            <div class="form-elt-container">
                <div>
                    <div class="form-elt-container flex-box">
                        <div class="line-flex">
                            <h2 class="section-title">Equipment ({{ editingItem[19].value.length}})</h2>
                        </div>

                        <div *ngFor="let elt of editingItem[19].value; let i = index">
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Element {{i+1}}:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[19].value[i]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-elt-container">
                <div>

                    <div class="form-elt-container flex-box">
                        <div class="line-flex">
                            <h2 class="section-title">Skill Table ({{ editingItem[20].value.length}})</h2>
                            <button (click)="addSkill()" class="btn btn-blue button-3">+</button>
                        </div>

                        <div *ngFor="let motion of editingItem[20].value; let i = index">
                            <div class="line-flex">
                                <label class="form-label">Skill {{i+1}}:</label>
                                <button  (click)="removeSkill(i || 0)"
                                    class="btn btn-error button-3">-</button>
                            </div>

                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Skill:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[20].value[i]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-elt-container">
                <div>
                    <h2 class="section-title">Battle</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown1:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[21].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown2:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[22].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown3:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[23].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown4:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[24].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Unknown5:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[25].value">
                    </div>
                    <div class="form-elt-container flex-box">
                        <div class="line-flex">
                            <h2 class="section-title">Unknown6 ({{ editingItem[26].value.length}})</h2>
                        </div>

                        <div *ngFor="let elt of editingItem[26].value; let i = index">
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Element {{i+1}}:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[26].value[i]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="formMsg">
                <span class="error-txt">{{formMsg}}</span>
            </div>
        </div>
        <div class="form-btn-flex">
            <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
            <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
        </div>
    </div>
</div>