<div class="content-text-container">
    <span class="content-text-title">EDITING XML</span>
</div>
<div class="page">
    <div class="page-container table-page">
        <div class="section-container">
            <span class="content-text-subtitle">Select a file to edit</span>
            <mat-form-field appearance="fill">
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]=" selectedFileType" (selectionChange)="changeFileType()">
                    <mat-option value="None">None</mat-option>
                    <mat-option value="CItemData">CItemData</mat-option>
                    <mat-option value="CEventMessageData">CEventMessageData</mat-option>
                    <mat-option value="CSkill">CSkill</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="section-container" *ngIf="filetypeIsSelected">
                <span class="content-text-subtitle">Open {{selectedFileType}}.xml file (make sure it's the correct
                    file)</span>
                <button [disabled]="disableOpenFileBtn" (click)="openFileDialog()" class="upload-btn">OPEN</button>
            </div>
            <span *ngIf="filePath" class="content-text-subtitle">!!--Opening {{filePath}}--!!</span>
        </div>
        <div *ngIf="testedFile && !isValidFile" class="section-container">
            <span class="content-text-subtitle">You opened the wrong file, or the .xml contains errors. Please try again
                with another xml file!</span>
        </div>
    </div>
    <app-c-item-data #cItemDataComponent *ngIf="selectedFileType=== 'CItemData' " (fileIsValid)="fileValidate($event)"
        (saveXmlFile)="saveFile($event)"></app-c-item-data>
    <app-c-event-message-data #cEventMessageDataComponent *ngIf="selectedFileType=== 'CEventMessageData' "
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)"></app-c-event-message-data>

    <app-c-skill #cSkillComponent *ngIf="selectedFileType=== 'CSkill' "
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)"></app-c-skill>
</div>