<div class="content-text-container">
    <span class="content-text-title">EDITING XML</span>
</div>
<div class="page">
    <div class="page-container table-page">
        <div class="section-container">
            <span class="content-text-subtitle">Open the COMP_hack directory (containing comp_decrypt, comp_encrypt,
                and
                comp_bdpatch): </span>
            <div class="line-flex">
                <span class="content-text-subtitle" *ngIf="comphackPath != ''">{{comphackPath}}</span>
                <button (click)="openCompHackPathDialog()" class="upload-btn">OPEN</button>
            </div>

            <div class="section-container" *ngIf="comphackPath">
                <span class="content-text-subtitle">Open the BinaryData directory (containing Client and Shield
                    Folders): </span>
                <div class="line-flex">
                    <span class="content-text-subtitle" *ngIf="binaryDataPath != ''">{{binaryDataPath}}</span>
                    <button (click)="openBinaryDataPathDialog()" class="upload-btn">OPEN</button>
                </div>
            </div>


            <div *ngIf="comphackPath && binaryDataPath">
                <button (click)="changeFileType('None')">None</button>
                <button (click)="changeFileType('CItemData')">CItemData</button>
                <button (click)="changeFileType('CEventMessageData')">CEventMessageData</button>
                <button (click)="changeFileType('CEventMessageData2')">CEventMessageData2</button>
                <button (click)="changeFileType('CSkillData')">CSkillData</button>
                <button (click)="changeFileType('ActionLogicData')">ActionLogicData</button>
                <button (click)="changeFileType('ExchangeData')">ExchangeData</button>
            </div>

            <div class="section-container" *ngIf="filetypeIsSelected">
                <span class="content-text-subtitle">Open {{selectedFileType}} file (A .xml file will be created in
                    Comp_hack folder)</span>
                <button [disabled]="disableOpenFileBtn" (click)="startDecrypt()" class="upload-btn">OPEN</button>
            </div>
            <span *ngIf="filePath" class="content-text-subtitle">!!--Opening {{filePath}}--!!</span>
        </div>
        <div *ngIf="testedFile && !isValidFile" class="section-container">
            <span class="content-text-subtitle">You opened the wrong file, or the .xml contains errors. Please try again
                with another xml file!</span>
        </div>
    </div>
    <app-c-item-data #cItemDataComponent *ngIf="selectedFileType=== 'CItemData' " (fileIsValid)="fileValidate($event)"
        (saveXmlFile)="saveFile($event)"></app-c-item-data>
    <app-c-event-message-data #cEventMessageDataComponent
        *ngIf="selectedFileType=== 'CEventMessageData' ||selectedFileType=== 'CEventMessageData2'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)"></app-c-event-message-data>

    <app-c-skill #cSkillComponent *ngIf="selectedFileType=== 'CSkillData' " (fileIsValid)="fileValidate($event)"
        (saveXmlFile)="saveFile($event)"></app-c-skill>
    <app-action-logic-data #actionLogicDataComponent *ngIf="selectedFileType=== 'ActionLogicData' "
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)"></app-action-logic-data>
    <app-exchange-data #exchangeDataComponent *ngIf="selectedFileType=== 'ExchangeData' "
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)"></app-exchange-data>
</div>