<div class="content-text-container">
    <span class="content-text-title">EDITING GAME FILE</span>
</div>
<div class="page">
    <div class="page-container table-page">
        <div class="section-container mode-flex">
            <button class="button-3" (click)="changeFileMode('editXml')">Edit xml file</button>
            <button class="button-3" (click)="changeFileMode('decrypt')">Decrypt and edit file</button>
        </div>
        <div *ngIf="fileMode==='decrypt'" class="section-container">
            <h2 class="content-text-subtitle">Decrypt and edit</h2>
            <span class="content-text-subtitle">Select the COMP_hack directory (containing comp_decrypt, comp_encrypt,
                and
                comp_bdpatch): </span>
            <div class="line-flex">
                <span class="content-text-subtitle" *ngIf="comphackPath != ''">{{comphackPath}}</span>
                <button (click)="openCompHackPathDialog()" class="upload-btn button-3">SELECT</button>
            </div>

            <div class="section-container" *ngIf="comphackPath">
                <span class="content-text-subtitle">Select the BinaryData directory (containing Client and Shield
                    Folders): </span>
                <div class="line-flex">
                    <span class="content-text-subtitle" *ngIf="binaryDataPath != ''">{{binaryDataPath}}</span>
                    <button (click)="openBinaryDataPathDialog()" class="upload-btn button-3">SELECT</button>
                </div>
            </div>


            <div class="section-container" *ngIf="comphackPath && binaryDataPath">
                <span class="content-text-subtitle">Select the file you want to decrypt and generate xml file: </span>
                <div class="mode-flex">
                    <div *ngFor="let fileType of fileTypeList" class="fileType-text" (click)="changeFileType(fileType)">
                        {{fileType}}</div>
                </div>

            </div>

            <div class="section-container" *ngIf="filetypeIsSelected">
                <span class="content-text-subtitle">Generate {{selectedFileType}} file (A .xml file will be created in
                    Comp_hack folder)</span>
                <div class="line-flex">
                    <input class="form-control" type="text" placeholder="Name the file:"
                        [(ngModel)]="decryptedFileName">
                    <button (click)="startDecrypt()" class="upload-btn button-3">GENERATE</button>
                </div>


            </div>
            <span *ngIf="filePath && filetypeIsSelected" class="content-text-subtitle">!!--Opening
                {{filePath}}--!!</span>
        </div>
        <div *ngIf="fileMode==='editXml'" class="section-container">
            <h2 class="content-text-subtitle">Edit xml file</h2>
            <span class="content-text-subtitle">Select a file to edit</span>

            <div class="mode-flex">
                <div *ngFor="let fileType of fileTypeList" class="fileType-text" (click)="changeFileType(fileType)">
                    {{fileType}}</div>
            </div>

            <div class="section-container" *ngIf="filetypeIsSelected">
                <span class="content-text-subtitle">Open {{selectedFileType}}.xml file (make sure it's the correct
                    file)</span>
                <button [disabled]="disableOpenFileBtn" (click)="openFileDialog()"
                    class="upload-btn button-3">OPEN</button>
            </div>
            <span *ngIf="filePath" class="content-text-subtitle">!!--Opening {{filePath}}--!!</span>
        </div>
        <div *ngIf="testedFile && !isValidFile" class="section-container">
            <span class="content-text-subtitle">You opened the wrong file, or the .xml contains errors. Please try again
                with another xml file!</span>
        </div>
    </div>
    <app-c-item-data #cItemDataComponent *ngIf="selectedFileType=== 'CItemData' " (fileIsValid)="fileValidate($event)"
        (saveXmlFile)="saveFile($event)" [fileMode]="fileMode" (encryptFile)="encryptFile($event)"></app-c-item-data>
    <app-c-event-message-data #cEventMessageDataComponent
        *ngIf="selectedFileType=== 'CEventMessageData' ||selectedFileType=== 'CEventMessageData2'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-c-event-message-data>
    <app-c-skill #cSkillComponent *ngIf="selectedFileType=== 'CSkillData' " (fileIsValid)="fileValidate($event)"
        (saveXmlFile)="saveFile($event)" [fileMode]="fileMode" (encryptFile)="encryptFile($event)"></app-c-skill>
    <app-action-logic-data #actionLogicDataComponent *ngIf="selectedFileType=== 'ActionLogicData' "
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-action-logic-data>
    <app-exchange-data #exchangeDataComponent *ngIf="selectedFileType=== 'ExchangeData' "
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-exchange-data>
    <app-c-message-data #cMessageDataComponent *ngIf="selectedFileType=== 'CMessageData' "
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-c-message-data>
    <app-npc-barter-group-data #npcBarterGroupDataComponent *ngIf="selectedFileType=== 'NPCBarterGroupData'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-npc-barter-group-data>
    <app-tri-union-kreuz-item-data #triUnionKreuzItemDataComponent *ngIf="selectedFileType=== 'TriUnionKreuzItemData'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-tri-union-kreuz-item-data>
    <app-culture-item-data #cultureItemDataComponent *ngIf="selectedFileType=== 'CultureItemData'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode">
    </app-culture-item-data>
    <app-c-chance-item-data #cChanceItemDataComponent *ngIf="selectedFileType=== 'CChanceItemData'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode">
    </app-c-chance-item-data>
    <app-c-synthesis-catalyst-data #cSynthesisCatalystDataComponent *ngIf="selectedFileType=== 'CSynthesisCatalystData'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode">
    </app-c-synthesis-catalyst-data>
    <app-c-valuable #cValuableComponent *ngIf="selectedFileType=== 'CValuable'" (fileIsValid)="fileValidate($event)"
        (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)" [fileMode]="fileMode">
    </app-c-valuable>
    <app-deunion-item-catalyst-data #deunionItemCatalystDataComponent
        *ngIf="selectedFileType=== 'DeunionItemCatalystData'" (fileIsValid)="fileValidate($event)"
        (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)" [fileMode]="fileMode">
    </app-deunion-item-catalyst-data>
    <app-npc-barter-data #npcBarterDataComponent *ngIf="selectedFileType=== 'NPCBarterData'"
        (fileIsValid)="fileValidate($event)" (saveXmlFile)="saveFile($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-npc-barter-data>
    <app-c-model-data #cModelDataComponent *ngIf="selectedFileType=== 'CModelData1'"
        (fileIsValid)="fileValidate($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-c-model-data>
    <app-c-model-data #cModelDataComponent *ngIf="selectedFileType=== 'CModelData2'"
        (fileIsValid)="fileValidate($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-c-model-data>
    <app-c-model-data #cModelDataComponent *ngIf="selectedFileType=== 'CModelData3'"
        (fileIsValid)="fileValidate($event)" (encryptFile)="encryptFile($event)"
        [fileMode]="fileMode"></app-c-model-data>
    <app-item-data #itemDataComponent *ngIf="selectedFileType=== 'ItemData'" (fileIsValid)="fileValidate($event)"
        (encryptFile)="encryptFile($event)" [fileMode]="fileMode"></app-item-data>
</div>