<div class="page-flex">
    <div *ngIf="isValidFile && !loadingTable" class="section-container">
        <div class="content-text-subtitle file-title">CTransformedModelData - ({{filteredContent.length}}
            item(s))
        </div>
        <div *ngIf="!inEdition" class="form-btn-flex">
            <button (click)="writeXmlFile('xml')" class="btn btn-primary button-3">SAVE XML</button>
            <button  (click)="writeXmlFile('sbin')"
                class="btn btn-primary button-3">ENCRYPT SBIN+XML</button>
            <button (click)="openEdition()" class="btn button-3 btn-blue">ADD ITEM +</button>
        </div>

        <div class="table-text">
            <div class="search-flex">
                <input class="input-full-width" type="text" placeholder="Search table" [(ngModel)]="searchTableText">
                <button (click)="onSearch()" class="upload-btn button-3">Search</button>
            </div>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
            <table *ngIf="filteredContent" class="fileElt">
                <thead>
                    <tr>
                        <th>ItemID</th>
                        <th>StatusEffectIDs</th>
                        <th>Entries</th>
                        <th>WalkAnimationID</th>
                        <th>RunAnimationID</th>
                        <th>IdleAnimationID</th>
                        <th>CombatIdleAnimationID</th>
                        <th *ngIf="!inEdition">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of filteredContent | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: filteredContent.length }">
                        <td>{{ item[0].value }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let elt of item[1].value"><ng-container *ngIf="elt !== 0">. {{ elt
                                        }}</ng-container> </li>
                            </ul>
                        </td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Location</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let elt of item[2].value">
                                        <td>{{ elt[0]}}</td>
                                        <td>{{ elt[1]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>{{ item[3].value }}</td>
                        <td>{{ item[4].value }}</td>
                        <td>{{ item[5].value }}</td>
                        <td>{{ item[6].value }}</td>
                        <td *ngIf="!inEdition">
                            <div class="last"><a (click)="openEdition(item[0].value)" class="action-link">Edit</a>
                                <a (click)="deleteItem(item)" class="action-link">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
        </div>
    </div>
    <div *ngIf="inEdition" class="page-container edit-page">
        <div class="form-container">
            <div class="form-btn-flex">
                <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
                <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
            </div>
            <div class="form-elt-container">
                <div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Item ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[0].value">
                    </div>
                </div>
            </div>
            <div class="form-elt-container">
                <div>
                    <div class="form-elt-container flex-box">
                        <div class="line-flex">
                            <h2 class="section-title">Status Effect IDs</h2>
                        </div>
                        <div *ngFor="let elt of editingItem[1].value; let i = index">
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Element {{i+1}}:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[1].value[i]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-elt-container">
                <div>
                    <div class="form-elt-container flex-box">
                        <div class="line-flex">
                            <h2 class="section-title">Bonus </h2>
                        </div>
                        <div *ngFor="let elt of editingItem[2].value; let i = index">
                            <div class="line-flex">
                                <label class="form-label">Element {{i+1}}:</label>
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Location:</label>
                                <input class="form-control" type="number" [(ngModel)]="editingItem[2].value[i][0]">
                            </div>
                            <div class="form-group form-input form-input-textarea">
                                <label class="form-label">File:</label>
                                <textarea class="form-control" rows="5" cols="2"
                                    [(ngModel)]="editingItem[2].value[i][1]"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-elt-container">
                <div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Walk Animation ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[3].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Run Animation ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[4].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Idle Animation ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[5].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Combat Idle Animation ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[6].value">
                    </div>
                </div>
            </div>


            <div *ngIf="formMsg">
                <span class="error-txt">{{formMsg}}</span>
            </div>
        </div>
        <div class="form-btn-flex">
            <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
            <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
        </div>
    </div>
</div>