<div class="page-flex">
    <div *ngIf="isValidFile && !loadingTable" class="section-container">
        <div class="content-text-subtitle file-title">SkillData - ({{filteredContent.length}} item(s))
        </div>
        <div *ngIf="!inEdition" class="form-btn-flex">
            <button (click)="writeXmlFile('xml')" class="btn btn-primary button-3">SAVE XML</button>
            <button *ngIf="fileMode===('decrypt')" (click)="writeXmlFile('sbin')"
                class="btn btn-primary button-3">ENCRYPT SBIN+XML</button>
            <button (click)="openEdition()" class="btn button-3 btn-blue">ADD ITEM +</button>
        </div>

        <div class="table-text">
            <div class="search-flex">
                <input class="input-full-width" type="text" placeholder="Search table" [(ngModel)]="searchTableText">
                <button (click)="onSearch()" class="upload-btn button-3">Search</button>
            </div>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
            <table *ngIf="filteredContent" class="fileElt">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Affinity</th>
                        <th>CorrectTbl</th>
                        <th>Dependency Type</th>
                        <th>Action Type</th>
                        <th>Family</th>
                        <th>Cost</th>
                        <th>Formula</th>
                        <th>Modifier1</th>
                        <th *ngIf="!inEdition">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of filteredContent | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: filteredContent.length }">
                        <td>{{ item[0].value }}</td>
                        <td>{{ item[3].value }}</td>
                        <td class="data-table">
                            <table *ngFor="let data of item[4].value">
                                <thead>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                </thead>
                                <tbody>
                                    <td>{{data[0]}}</td>
                                    <td>{{data[1]}}</td>
                                    <td>{{data[2]}}</td>
                                </tbody>
                            </table>
                        </td>
                        <td>{{ item[5].value }}</td>
                        <td>{{ item[6].value }}</td>
                        <td>{{ item[9].value }}</td>
                        <td class="data-table">
                            <table *ngFor="let data of item[18].value">
                                <thead>
                                    <th>ID</th>
                                    <th>NumType</th>
                                    <th>Cost</th>
                                    <th>Item</th>
                                </thead>
                                <tbody>
                                    <td>{{data[0]}}</td>
                                    <td>{{data[1]}}</td>
                                    <td>{{data[2]}}</td>
                                    <td>{{data[3]}}</td>
                                </tbody>
                            </table>
                        </td>
                        <td>{{ item[39].value }}</td>
                        <td>{{ item[42].value }}</td>
                        <td *ngIf="!inEdition">
                            <div class="last"><a (click)="openEdition(item[0].value)" class="action-link">Edit</a>
                                <a (click)="deleteItem(item)" class="action-link">Delete</a>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="line-flex pagination-flex">
                <pagination-controls (pageChange)="changeTablePage($event)"></pagination-controls>
                <input class="form-control pagination-input" type="number" [(ngModel)]="currentPage"
                    (ngModelChange)="changeTablePage($event)">
            </div>
        </div>
    </div>
    <div *ngIf="inEdition" class="page-container edit-page">
        <div class="form-container">
            <div class="form-btn-flex">
                <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
                <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
            </div>
            <div class="form-elt-container">
                <h2 class="section-title">Common</h2>
                <div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[0].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Main Category:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[1].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Sub Category:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[2].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Affinity:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[3].value">
                    </div>
                    <div class="form-elt-container">
                        <div class="line-flex">
                            <label class="form-title">Correct Table ({{ editingItem[4].value.length}})</label>
                            <button (click)="addCorrect()" class="btn btn-blue button-3">+</button>
                        </div>

                        <div *ngFor="let motion of editingItem[4].value; let i = index">
                            <div class="line-flex">
                                <label class="form-label">Correct {{i+1}}:</label>
                                <button *ngIf="i>0" (click)="removeCorrect(i || 0)"
                                    class="btn btn-error button-3">-</button>
                            </div>

                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Equip Type:</label>
                                <select [(ngModel)]="motion[0]">
                                    <option value="STR">Strength</option>
                                    <option value="MAGIC">Magic Power</option>
                                    <option value="VIT">Vitality</option>
                                    <option value="INT">Intelligence</option>
                                    <option value="SPEED">Speed</option>
                                    <option value="LUCK">Luck</option>
                                    <option value="HP_MAX">Max HP</option>
                                    <option value="MP_MAX">Max MP</option>
                                    <option value="HP_REGEN">HP Regen</option>
                                    <option value="MP_REGEN">MP Regen</option>
                                    <option value="MOVE1">Movement Speed 1</option>
                                    <option value="MOVE2">Movement Speed 2</option>
                                    <option value="CLSR">CLSR</option>
                                    <option value="LNGR">LNGR</option>
                                    <option value="SPELL">SPELL</option>
                                    <option value="SUPPORT">SUPPORT</option>
                                    <option value="CRITICAL">Crit Chance</option>
                                    <option value="SUMMON_SPEED">Summoning Speed</option>
                                    <option value="KNOCKBACK_RESIST">Knockback Resist</option>
                                    <option value="PDEF">Physical Defense</option>
                                    <option value="MDEF">Magic Defense</option>
                                    <option value="CRIT_DEF">Critical Defense</option>
                                    <option value="RES_DEFAULT">Default Affinity Resistance</option>
                                    <option value="RES_WEAPON">Weapon Resistance</option>
                                    <option value="RES_SLASH">Slash Resistance</option>
                                    <option value="RES_THRUST">Thrust Resistance</option>
                                    <option value="RES_STRIKE">Strike Resistance</option>
                                    <option value="RES_LNGR">Handgun Resistance</option>
                                    <option value="RES_PIERCE">Rifle Resistance</option>
                                    <option value="RES_SPREAD">Spread Resistance</option>
                                    <option value="RES_FIRE">Fire Resistance</option>
                                    <option value="RES_ICE">Ice Resistance</option>
                                    <option value="RES_ELEC">Elec Resistance</option>
                                    <option value="RES_ALMIGHTY">Almighy Resistance</option>
                                    <option value="RES_FORCE">Force Resistance</option>
                                    <option value="RES_EXPEL">Expel Resistance</option>
                                    <option value="RES_CURSE">Curse Resistance</option>
                                    <option value="RES_HEAL">Healing Resistance</option>
                                    <option value="RES_SUPPORT">Support Resistance</option>
                                    <option value="RES_MAGICFORCE">Sorcery Resistance</option>
                                    <option value="RES_NERVE">Nerve Resistance</option>
                                    <option value="RES_MIND">Mind Resistance</option>
                                    <option value="RES_WORD">Word Resistance</option>
                                    <option value="RES_SPECIAL">Special Resistance</option>
                                    <option value="RES_SUICIDE">Self-Destruct Resistance</option>
                                    <option value="NRA_DEFAULT">Null/Reflect/Absorb Default</option>
                                    <option value="NRA_WEAPON">Null/Reflect/Absorb Weapon</option>
                                    <option value="NRA_SLASH">Null/Reflect/Absorb Slash</option>
                                    <option value="NRA_THRUST">Null/Reflect/Absorb Thrust</option>
                                    <option value="NRA_STRIKE">Null/Reflect/Absorb Strike</option>
                                    <option value="NRA_LNGR">Null/Reflect/Absorb Handgun</option>
                                    <option value="NRA_PIERCE">Null/Reflect/Absorb Rifle</option>
                                    <option value="NRA_FIRE">Null/Reflect/Absorb Fire</option>
                                    <option value="NRA_ICE">Null/Reflect/Absorb Ice</option>
                                    <option value="NRA_ELEC">Null/Reflect/Absorb Elec</option>
                                    <option value="NRA_ALMIGHTY">Null/Reflect/Absorb Almighty</option>
                                    <option value="NRA_FORCE">Null/Reflect/Absorb Force</option>
                                    <option value="NRA_EXPEL">Null/Reflect/Absorb Expel</option>
                                    <option value="NRA_CURSE">Null/Reflect/Absorb Curse</option>
                                    <option value="NRA_HEAL">Null/Reflect/Absorb Healing</option>
                                    <option value="NRA_SUPPORT">Null/Reflect/Absorb Support</option>
                                    <option value="NRA_MAGICFORCE">Null/Reflect/Absorb Sorcery</option>
                                    <option value="NRA_NERVE">Null/Reflect/Absorb Nerve</option>
                                    <option value="NRA_MIND">Null/Reflect/Absorb Mind</option>
                                    <option value="NRA_WORD">Null/Reflect/Absorb Word</option>
                                    <option value="NRA_SPECIAL">Null/Reflect/Absorb Special</option>
                                    <option value="NRA_SUICIDE">Null/Reflect/Absorb Self-Destruct</option>
                                    <option value="NRA_PHYS">Null/Reflect/Absorb Physical</option>
                                    <option value="NRA_MAGIC">Null/Reflect/Absorb Magic</option>
                                    <option value="COOLDOWN_TIME">Cooldown time</option>
                                    <option value="RES_STATUS">Resistance to Status Effects</option>
                                    <option value="RATE_XP">Experience Acquisition Rate</option>
                                    <option value="RATE_MAG">Magnetite Acquisition Rate</option>
                                    <option value="RATE_MACCA">Makka Acquisition Rate</option>
                                    <option value="RATE_EXPERTISE">Expertise Acquisition Rate</option>
                                    <option value="RATE_CLSR">Physical Damage Dealt</option>
                                    <option value="RATE_LNGR">Gun Damage Dealt</option>
                                    <option value="RATE_SPELL">Spell Damage Dealt</option>
                                    <option value="RATE_SUPPORT">Support "Damage" Dealt</option>
                                    <option value="RATE_HEAL">Healing Effect Up</option>
                                    <option value="RATE_CLSR_TAKEN">Physical Damage Received</option>
                                    <option value="RATE_LNGR_TAKEN">Gun Damage Received</option>
                                    <option value="RATE_SPELL_TAKEN">Spell Damage Received</option>
                                    <option value="RATE_SUPPORT_TAKEN">Support Damage Received</option>
                                    <option value="RATE_HEAL_TAKEN">Healing Received</option>
                                    <option value="BOOST_DEFAULT">Default Boost</option>
                                    <option value="BOOST_WEAPON">Weapon Boost</option>
                                    <option value="BOOST_SLASH">Slash Boost</option>
                                    <option value="BOOST_THRUST">Thrust Boost</option>
                                    <option value="BOOST_STRIKE">Strike Boost</option>
                                    <option value="BOOST_LNGR">Handgun Boost</option>
                                    <option value="BOOST_PIERCE">Rifle Boost</option>
                                    <option value="BOOST_SPREAD">Shotgun Boost</option>
                                    <option value="BOOST_FIRE">Fire Boost</option>
                                    <option value="BOOST_ICE">Ice Boost</option>
                                    <option value="BOOST_ELEC">Elec Boost</option>
                                    <option value="BOOST_ALMIGHTY">Almighty Boost</option>
                                    <option value="BOOST_FORCE">Force Boost</option>
                                    <option value="BOOST_EXPEL">Expel Boost</option>
                                    <option value="BOOST_CURSE">Curse Boost</option>
                                    <option value="BOOST_HEAL">Healing Boost</option>
                                    <option value="BOOST_SUPPORT">Support Boost</option>
                                    <option value="BOOST_MAGICFORCE">Sorcery Boost</option>
                                    <option value="BOOST_NERVE">Nerve Boost</option>
                                    <option value="BOOST_MIND">Mind Boost</option>
                                    <option value="BOOST_WORD">Word Boost</option>
                                    <option value="BOOST_SPECIAL">Special Boost</option>
                                    <option value="BOOST_SUICIDE">Self-Destruct Boost</option>
                                    <option value="LB_CHANCE">Limit Break Chance</option>
                                    <option value="LB_DAMAGE">Limit Break Damage</option>
                                    <option value="FINAL_CRIT_CHANCE">Final Crit Chance</option>
                                    <option value="DEFENSE_EXPAND_2">Defense Expansion 2</option>
                                    <option value="RATE_PC">Character Damage Dealt</option>
                                    <option value="RATE_DEMON">Demon Damage Dealt</option>
                                    <option value="RATE_PC_TAKEN">Character Damage Received</option>
                                    <option value="RATE_DEMON_TAKEN">Demon Damage Received</option>
                                    <option value="CHANT_TIME">Skill Chant Time</option>
                                </select>
                            </div>

                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Type:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[1]">
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Value:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[2]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-elt-container">
                <h2 class="section-title">Basic</h2>
                <div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Dependency Type:</label>
                        <select [(ngModel)]="editingItem[5].value">
                            <option value="CLSR">CLSR</option>
                            <option value="LNGR">LNGR</option>
                            <option value="SPELL">SPELL</option>
                            <option value="SUPPORT">SUPPORT</option>
                            <option value="WEAPON">WEAPON</option>
                            <option value="NONE">NONE</option>
                            <option value="LNGR_SPELL">LNGR_SPELL</option>
                            <option value="SPELL_CLSR">SPELL_CLSR</option>
                            <option value="SPELL_LNGR">SPELL_LNGR</option>
                            <option value="CLSR_LNGR_SPELL">CLSR_LNGR_SPELL</option>
                            <option value="LNGR_CLSR_SPELL">LNGR_CLSR_SPELL</option>
                            <option value="SPELL_CLSR_LNGR">SPELL_CLSR_LNGR</option>
                            <option value="CLSR_SPELL">CLSR_SPELL</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Action Type:</label>
                        <select [(ngModel)]="editingItem[6].value">
                            <option value="ATTACK">ATTACK</option>
                            <option value="SPIN">SPIN</option>
                            <option value="RUSH">RUSH</option>
                            <option value="SHOT">SHOT</option>
                            <option value="RAPID">RAPID</option>
                            <option value="GUARD">GUARD</option>
                            <option value="COUNTER">COUNTER</option>
                            <option value="DODGE">DODGE</option>
                            <option value="TALK">TALK</option>
                            <option value="INTIMIDATE">INTIMIDATE</option>
                            <option value="TAUNT">TAUNT</option>
                            <option value="SUPPORT">SUPPORT</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Combat Skill:</label>
                        <select [(ngModel)]="editingItem[7].value">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Defensible:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[8].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Family:</label>
                        <select [(ngModel)]="editingItem[9].value">
                            <option value="NORMAL">NORMAL</option>
                            <option value="MAGIC">MAGIC</option>
                            <option value="ITEM">ITEM</option>
                            <option value="SPECIAL">SPECIAL</option>
                            <option value="DEMON_TRAIT">DEMON_TRAIT</option>
                            <option value="DEMON_SOLO">DEMON_SOLO</option>
                            <option value="DEBUG">DEBUG</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Activation Type:</label>
                        <select [(ngModel)]="editingItem[10].value">
                            <option value="NONE">NONE</option>
                            <option value="ON_USE">ON_USE</option>
                            <option value="ON_TARGET">ON_TARGET</option>
                            <option value="SPECIAL">SPECIAL</option>
                            <option value="ON_TOGGLE">ON_TOGGLE</option>
                            <option value="ON_HIT">ON_HIT</option>
                            <option value="INSTANT">INSTANT</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Basic7:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[11].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">CooldownID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[12].value">
                    </div>
                </div>
            </div>
            <div class="form-elt-container">
                <h2 class="section-title">Condition</h2>
                <div>
                    <label class="form-title">Restriction</label>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Restriction1:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[13].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Weapon Type:</label>
                        <select [(ngModel)]="editingItem[14].value">
                            <option value="NONE">NONE</option>
                            <option value="CLOSE_RANGE">CLOSE_RANGE</option>
                            <option value="LONG_RANGE">LONG_RANGE</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">LNC:</label>
                        <select [(ngModel)]="editingItem[15].value">
                            <option value="ALL">ALL</option>
                            <option value="CHAOS">CHAOS</option>
                            <option value="NEUTRAL">NEUTRAL</option>
                            <option value="CHAOS_NEUTRAL">CHAOS_NEUTRAL</option>
                            <option value="LAW">LAW</option>
                            <option value="CHAOS_LAW">CHAOS_LAW</option>
                            <option value="NEUTRAL_LAW">NEUTRAL_LAW</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Digitize Restricted:</label>
                        <select [(ngModel)]="editingItem[16].value">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Digitize Weapon Type:</label>
                        <select [(ngModel)]="editingItem[17].value">
                            <option value="NONE">NONE</option>
                            <option value="CLOSE_RANGE">CLOSE_RANGE</option>
                            <option value="LONG_RANGE">LONG_RANGE</option>
                        </select>
                    </div>



                    <div class="form-elt-container">
                        <div class="line-flex">
                            <label class="form-title">Costs ({{ editingItem[18].value.length}})</label>
                            <button (click)="addCost()" class="btn btn-blue button-3">+</button>
                        </div>

                        <div *ngFor="let motion of editingItem[18].value; let i = index">
                            <div class="line-flex">
                                <label class="form-label">Cost {{i+1}}:</label>
                                <button *ngIf="i>0" (click)="removeCost(i || 0)"
                                    class="btn btn-error button-3">-</button>
                            </div>

                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Type:</label>
                                <select [(ngModel)]="motion[0]">
                                    <option value="HP">HP</option>
                                    <option value="MP">MP</option>
                                    <option value="ITEM">ITEM</option>
                                    <option value="BULLET">BULLET</option>
                                    <option value="DEMON_PARTNER">DEMON_PARTNER</option>
                                </select>
                            </div>

                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Num Type:</label>
                                <select [(ngModel)]="motion[1]">
                                    <option value="NUMERIC">NUMERIC</option>
                                    <option value="PERCENT">PERCENT</option>
                                </select>
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Cost:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[2]">
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Item:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[3]">
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Cooldown Time:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[19].value">
                    </div>

                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Active MP Drain:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[20].value">
                    </div>

                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Condition3:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[21].value">
                    </div>


                </div>
                <div class="form-elt-container">
                    <h2 class="section-title">Cast</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Charge Time:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[22].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Use Count:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[23].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Adjust Restrictions:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[24].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Damage Cancel:</label>
                        <select [(ngModel)]="editingItem[25].value">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Knockback Cancel:</label>
                        <select [(ngModel)]="editingItem[26].value">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Auto Cancel Time:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[27].value">
                    </div>

                </div>


                <div class="form-elt-container">
                    <h2 class="section-title">Target</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Range:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[28].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Type:</label>
                        <select [(ngModel)]="editingItem[29].value">
                            <option value="NONE">NONE</option>
                            <option value="ALLY">ALLY</option>
                            <option value="DEAD_ALLY">DEAD_ALLY</option>
                            <option value="PARTNER">PARTNER</option>
                            <option value="PARTY">PARTY</option>
                            <option value="ENEMY">ENEMY</option>
                            <option value="DEAD_PARTNER">DEAD_PARTNER</option>
                            <option value="OTHER_PLAYER">OTHER_PLAYER</option>
                            <option value="OBJECT">OBJECT</option>
                            <option value="OTHER_DEMON">OTHER_DEMON</option>
                            <option value="ALLY_PLAYER">ALLY_PLAYER</option>
                            <option value="ALLY_DEMON">ALLY_DEMON</option>
                            <option value="PLAYER">PLAYER</option>
                        </select>
                    </div>
                </div>

                <div class="form-elt-container">
                    <h2 class="section-title">Discharge</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Complete Delay:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[30].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Projectile Speed:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[31].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Hit Delay:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[32].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Stiffness:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[33].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Damage Cancel:</label>
                        <select [(ngModel)]="editingItem[34].value">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                </div>

                <div class="form-elt-container">
                    <h2 class="section-title">Range</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Area Type:</label>
                        <select [(ngModel)]="editingItem[35].value">
                            <option value="NONE">NONE</option>
                            <option value="TARGET_RADIUS">TARGET_RADIUS</option>
                            <option value="STRAIGHT_LINE">STRAIGHT_LINE</option>
                            <option value="SOURCE_RADIUS">SOURCE_RADIUS</option>
                            <option value="FRONT_1">FRONT_1</option>
                            <option value="FRONT_2">FRONT_2</option>
                            <option value="FRONT_3">FRONT_3</option>
                            <option value="SOURCE">SOURCE</option>
                            <option value="SOURCE_RADIUS2">SOURCE_RADIUS2</option>
                        </select>
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Valid Type:</label>
                        <select [(ngModel)]="editingItem[36].value">
                            <option value="ENEMY">ENEMY</option>
                            <option value="ALLY">ALLY</option>
                            <option value="DEAD_ALLY">DEAD_ALLY</option>
                            <option value="PARTY">PARTY</option>
                            <option value="SOURCE">SOURCE</option>
                            <option value="DEAD_PARTY">DEAD_PARTY</option>
                        </select>
                    </div>

                    <div class="form-group form-input form-input-line">
                        <label class="form-label">AOE Range:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[37].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">AOE Line Width:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[38].value">
                    </div>
                </div>

                <div class="form-elt-container">
                    <h2 class="section-title">Damage</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Formula:</label>
                        <select [(ngModel)]="editingItem[39].value">
                            <option value="NONE">NONE</option>
                            <option value="DMG_NORMAL">DMG_NORMAL</option>
                            <option value="DMG_STATIC">DMG_STATIC</option>
                            <option value="DMG_PERCENT">DMG_PERCENT</option>
                            <option value="DMG_NORMAL_SIMPLE">DMG_NORMAL_SIMPLE</option>
                            <option value="HEAL_NORMAL">HEAL_NORMAL</option>
                            <option value="DMG_COUNTER">DMG_COUNTER</option>
                            <option value="DMG_SOURCE_PERCENT">DMG_SOURCE_PERCENT</option>
                            <option value="HEAL_STATIC">HEAL_STATIC</option>
                            <option value="HEAL_MAX_PERCENT">HEAL_MAX_PERCENT</option>
                            <option value="DMG_MAX_PERCENT">DMG_MAX_PERCENT</option>
                        </select>
                    </div>


                    <div class="form-group form-input form-input-line">
                        <label class="form-label">AOE Reduce:</label>
                        <select [(ngModel)]="editingItem[40].value">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>

                    <div class="form-group form-input form-input-line">
                        <label class="form-label">AOE Reduction:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[41].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Modifier1:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[42].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Modifier2:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[43].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">HP Drain Percent:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[44].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">MP Drain Percent:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[45].value">
                    </div>

                    <h2 class="section-title">Negociation Damage</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Success Affability:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[46].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Failure Affability:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[47].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Success Fear:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[48].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Failure Fear:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[49].value">
                    </div>

                    <h2 class="section-title">Break</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Weapon:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[50].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Armor:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[51].value">
                    </div>

                    <h2 class="section-title">Knockback</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">KnockBackType:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[52].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Modifier:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[53].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Distance:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[54].value">
                    </div>

                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Hit Stop Time:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[55].value">
                    </div>

                    <div class="form-elt-container">
                        <div class="line-flex">
                            <label class="form-title">Add Statuses ({{ editingItem[56].value.length}})</label>
                            <button (click)="addStatus()" class="btn btn-blue button-3">+</button>
                        </div>
                        <div *ngFor="let motion of editingItem[56].value; let i = index">
                            <div class="line-flex">
                                <label class="form-label">Status {{i+1}}:</label>
                                <button *ngIf="i>0" (click)="removeStatus(i || 0)"
                                    class="btn btn-error button-3">-</button>
                            </div>

                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Status ID:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[0]">
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Max Stack:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[1]">
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Min Stack:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[2]">
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">On Knockback:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[3]">
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Is Replace:</label>
                                <select [(ngModel)]="motion[4]">
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div>
                            <div class="form-group form-input form-input-line">
                                <label class="form-label">Success Rate:</label>
                                <input class="form-control" type="number" [(ngModel)]="motion[5]">
                            </div>

                        </div>
                    </div>



                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Function ID:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[57].value">
                    </div>

                </div>

                <div class="form-elt-container">
                    <h2 class="section-title">Acquisition</h2>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">InheritanceRestriction:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[58].value">
                    </div>
                    <div class="form-group form-input form-input-line">
                        <label class="form-label">Inheritance Modifier:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[59].value">
                    </div>

                </div>


                <div class="form-elt-container">
                    <div class="line-flex">
                        <label class="form-title">Expertise Growth ({{ editingItem[60].value.length}})</label>
                        <button (click)="addExpertGrowth()" class="btn btn-blue button-3">+</button>
                    </div>
                    <div *ngFor="let motion of editingItem[60].value; let i = index">
                        <div class="line-flex">
                            <label class="form-label">Expertise {{i+1}}:</label>
                            <button *ngIf="i>0" (click)="removeExpertGrowth(i || 0)"
                                class="btn btn-error button-3">-</button>
                        </div>

                        <div class="form-group form-input form-input-line">
                            <label class="form-label">Expertise ID:</label>
                            <input class="form-control" type="number" [(ngModel)]="motion[0]">
                        </div>
                        <div class="form-group form-input form-input-line">
                            <label class="form-label">Growth Rate:</label>
                            <input class="form-control" type="number" [(ngModel)]="motion[1]">
                        </div>
                    </div>
                </div>

                <div class="form-elt-container">
                    <h2 class="form-label">Charastic:</h2>
                    <div *ngFor="let elt of editingItem[61].value; let i = index"
                        class="form-group form-input form-input-textarea">
                        <label class="form-label">Element {{i+1}}:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[61].value[i]">
                    </div>
                </div>

                <div class="form-elt-container">
                    <h2 class="form-label">Special Params:</h2>
                    <div *ngFor="let elt of editingItem[62].value; let i = index"
                        class="form-group form-input form-input-textarea">
                        <label class="form-label">Element {{i+1}}:</label>
                        <input class="form-control" type="number" [(ngModel)]="editingItem[62].value[i]">
                    </div>
                </div>

                <div class="form-elt-container">
                    <h2 class="section-title">PVP</h2>
                    <div>
                        <div class="form-group form-input form-input-line">
                            <label class="form-label">PVP Restriction:</label>
                            <select [(ngModel)]="editingItem[63].value">
                                <option value="NONE">NONE</option>
                                <option value="PVP_RESTRICTED">PVP_RESTRICTED</option>
                                <option value="PVP_ONLY">PVP_ONLY</option>
                            </select>
                        </div>
                        <div class="form-group form-input form-input-line">
                            <label class="form-label">PVPRate:</label>
                            <input class="form-control" type="number" [(ngModel)]="editingItem[64].value">
                        </div>
                    </div>
                </div>

                <div *ngIf="formMsg">
                    <span class="error-txt">{{formMsg}}</span>
                </div>
            </div>
            <div class="form-btn-flex">
                <button (click)="cancelEdit()" class="btn button-3 btn-secondary">CANCEL</button>
                <button (click)="saveEdit()" class="btn button-3 btn-primary">SAVE</button>
            </div>
        </div>
    </div>